<h1>My Fincal login</h1>


<%= form_for :session, url: sessions_path do |f| %>
	<div class="form">
		<%= f.label :email, class: 'formfield' %> 
		<%= f.text_field :email, class: 'formfield' %> 

	</div>

	<div class="form">
		<%= f.label :password, class: 'formfield' %> 
		<%= f.password_field :password, class: 'formfield' %> 
	</div>

	<div class="buttonwrapper">
		<%= f.submit 'log in', class: 'button' %>
	</div>
<% end %>