<% if an_account.errors.any? %> 
<div id="error_explanation">
	<h2><%= pluralize(an_account.errors.count, "error") %> prohibited this account from being saved:</h2>
	<ul>
		<% an_account.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %> 
	</ul>
</div>
<% end %>

<%= form_for an_account, url: path do |f| %> 
	<p>
		<%= f.label :name %><br>
		<%= f.text_field :name %> 
	</p>

	<p>
		<%= f.label :category %><br>
		<%= f.text_field :category %> 
	</p>

	<p>
		<%= f.label :balance %><br>
		<%= f.number_field :balance, :step => 0.001 %> 
	</p>

	<p>
		<%= f.label :interest %><br>
		<%= f.number_field :interest, :step => 0.001 %> 
	</p>

	<p>
		<%= f.label :compounding_frequency %><br>
		<%= f.number_field :compounding_frequency %>
	</p>

	<p>
		<%= f.label :compounding_periods %><br>
		<%= f.number_field :compounding_periods %> 
	</p>

	<p>
		<%= f.submit "Save" %>
	</p>
<% end %> 