<% if an_account.errors.any? %> 
<div id="error_explanation">
	<h2><%= pluralize(an_account.errors.count, "error") %> prohibited this account from being saved:</h2>
	<ul>
		<% an_account.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %> 
	</ul>
</div>
<% end %>
<div class="newaccountform">
	<%= form_for an_account, url: path do |f| %> 
		<br>
			<%= f.label :name, class: 'formfield' %>
			<%= f.text_field :name, class: 'formfield' %> 
			<p>This name will be referenced when performing calculations</p> 
		<br>

		<br>
			<%= f.label :category, class: 'formfield' %>
			<%= f.text_field :category, class: 'formfield' %> 
			<p>Examples of categories can be; Annuity, Sinking Fund, Savings, Liability, Investment, Credit</p> 
		<br>

		<br>
			<%= f.label :balance, class: 'formfield' %>
			<%= f.number_field :balance, :step => 0.001, class: 'formfield' %>
			<p>As needed, this value will be used interchangeably as present value, future value or as an annuity payment</p> 
		<br>

		<br>
			<%= f.label :interest, class: 'formfield' %>
			<%= f.number_field :interest, :step => 0.001, class: 'formfield' %> <p>This will be used accordingly as the cost of borrowing money or as accumulating interest (depending on the calculation performed) </p> 
		<br>

		<br>
			<%= f.label :compounding_frequency, class: 'formfield' %>
			<%= f.number_field :compounding_frequency, class: 'formfield' %>
			<p>Interest can be compounded either; monthly, yearly, quarterly or even daily. (respective values; 12, 4, 365)</p> 
		<br>

		<br>
			<%= f.label :compounding_periods, class: 'formfield' %>
			<%= f.number_field :compounding_periods, class: 'formfield' %> 
			<p>Given the above frequency, for how many periods would interest be compounded for. Example, if interest is compounded monthly (compounding frequency; 12) and it would be in an account for 2 years; compounding periods would be 24 (12 x 2)</p> 
		<br>

		
			<%= f.submit "Save", class: 'button' %>
		
</div>
<% end %> 