<title><%= @title %></title>
<h1> Accounts </h1>

<div class="topribbon">
	<%= link_to "Add New Account", new_users_account_path%>
	<%= link_to("Fincal Home", root_path) %>
	<%= link_to("Time Value of Money", tvom_path) %>
</div>
<% @accounts.each do |account| %> 
	<%= render 'single_account', an_account: account %>
<% end %>
