<title><%= @title %></title>
<h1> Accounts </h1>

<div class="topribbon">
	<%= link_to raw("&#x2655;Add New Account&#x2655;"), new_users_account_path%>
	<%= link_to raw("&#x2690;Fincal Home&#x2690;"), root_path %>
	<%= link_to raw("&#x24;Time Value of Money&#x24;"), tvom_path%>
</div>
<% @accounts.each do |account| %> 
	<%= render 'single_account', an_account: account %>
<% end %>
