<h2>Calculate In Real Time</h2>

<h3>Given interest portion, calculate interest rate earned over a given period</h3>

<%= form_for :compute_interest_rate, url:real_time_tvom_results_path do |f| %>
Interest earned in dollars: <%= f.number_field :interest_portion %> <br>
present value: <%= f.number_field :pv %> <br>
time in days: <%= f.number_field :time %>
<%= f.submit "Compute interest rate" %> 
<% end %>