<h2>results</h2>
<% if params[:compute_interest_rate] %>
  <div class="tvomfinalresult">
  	<p>
  	<%= @computation %>% interest earned in <%= @real_time_account.compounding_periods %> days
  	</p>

  	<p>
  	where Present Value was	$<%= @real_time_account.balance %>
  	</p>
  </div>
<% else %>
  <div class="tvomfinalresult">
    <p>
      Given a time value of <%= @real_time_account.interest %>% interest, if you save $<%= @computation %> once every period for <%= @real_time_account.compounding_periods %> periods you will accumulate $<%= number_with_delimiter(@real_time_account.balance, :delimiter => ',') %>
  </p>
  </div>
<% end %>
