<h2>results</h2>
<% if params[:compute_interest_rate] %>
  <div class="tvomfinalresult">
  	<p>
  	<%= @computation %>% interest earned in <%= @real_time_account.compounding_periods %> days
  	</p>

  	<p>
  	where Present Value was	$<%= @real_time_account.balance %>
  	</p>
  </div>
<% else %>
  <div class="tvomfinalresult">
    <p>
      if you save $<%= @computation %> once every period for <%= @real_time_account.compounding_periods %> periods you will accumulate <%= @real_time_account.balance %>
  </p>
  </div>
<% end %>
