<h1><%= @account.name %></h1>
<div>
	<%= link_to 'Back to Accounts', users_accounts_path(@accounts) %> 
</div>
<%= render 'single_account', an_account: @account %> 

<div>
	<%= link_to 'Edit', edit_users_account_path %> 
	<%= link_to 'Delete Account', users_account_path(@account), method: :delete, data: {confirm: "are you sure you want to del2ete this '#{@account.category}' account?"} %>
</div>