<div class="backbutton">
	<%= link_to 'back to accounts', users_accounts_path %> 
</div>


<h1> Calculate Time Value For Your Accounts</h1>
<div class="tvomchoices">
	<%= form_for :user_choice, url: tvom_choice_path  do |f|%>
	<%= f.collection_select(:account,@accounts.all, :id, :name ) %>
	 <%= f.select :choice, [['Calculate future value', 1],['Calculate present value', 2],['calculate future value annuity',3],['Calculate present value annuity', 4]] %>
	 <%= f.submit 'Calculate' %>
</div>

 <br>
 <br>
<h2 class="tvomcalculationheading">Possible calculations</h2>
 	<ul>
 		<li class="calculationinfo">Future Value</li>
 			<p class="calculationpara">Given present value calculate future value by accumulating interest</p>
 		<li class="calculationinfo">Present Value</li>
 			<p class="calculationpara">Given future value calculate present value by discounting interest</p>
 		<li class="calculationinfo">Future Value Annuity</li>
 			<p class="calculationpara">Given equal monthly payments calculate the future value of a series of annuity payments by accumulating interest. Annuity payment value is derived from the balance in the account.</p>
 		<li class="calculationinfo">Present Value Annuity</li>
 			<p class="calculationpara">Given equal monthly payments to be made in the future calculate the present value of a series of annuity payments by discounting interest. Annuity payment value is derived from the balance in the account.</p>
 	</ul>
<% end %> 

<div class="tvomupgradewrapper">
	<h3 class="tvomupgrades">Future upgrades</h3>
		<ul>
			<li class="tvomupgradeinfo">Add ability to calculate interest earned over a given period of time</li>
			<li class="tvomupgradeinfo">Make projections without creating accounts</li>
		</ul>
</div>