<div class="tvomresult">
<% if @selection < 5 %>
		<% if @interest_portion > 0 %>
			<p> you earned $<%= number_with_delimiter(@interest_portion, :delimiter => ',') %> of interest, in <%= @interest_time %> periods, where interest was compounded
				<% if @frequency == 1 %>
					<strong>once a year</strong>
				<% else %>
					<strong>
						<%= @frequency %>
						times a year
					</strong>
				<% end %>
			</p>
		<% else %>
			<p> you discounted $<%= number_with_delimiter(@interest_portion.abs, :delimiter => ',')%> of interest, in <%= @interest_time %> periods, where interest was compounded
				<% if @frequency == 1 %>
					<strong>once a year</strong>
				<% else %>
					<strong>
						<%= @frequency %>
						times a year
					</strong>
					<% end %>
			</p>
		<% end %>
	<% end %>
</div>

<div class="tvomfinalresult">
	<strong>
		<%= @calculation_performed %>
			<% if @selection >= 5 %>
			<%= number_with_delimiter(@result, :delimiter => ',') %>%
			<% else %>

		$<%= number_with_delimiter(@result, :delimiter => ',') %>
			<% end %>
	</strong>
</div>
