<% if @interest_portion > 0 %>
	<p> you earned $<%= @interest_portion %> of interest, in <%= @interest_time %> periods, where interest was compounded <%= @frequency %> times a year 
	</p>
<% else %> 
	<p> you discounted $<%= @interest_portion.abs %> of interest, in <%= @interest_time %> periods, where interest was compounded <%= @frequency %> times a year 
	</p>
<% end %>	


<strong>
<%= @calculation_performed %>	
$<%= @result %>
</strong>
