<h1>FinCal</h1>
<h2>Your personal financial planner and manager</h2>
	<div>
		<%= link_to("Accounts", accounts_path) %>
	</div>

	<div>
		<strong>The time is: <%= @time %> 
		</strong>
	</div>
	
	<div>
		<p>Caffeinated development by <%= @dev %></p>
	</div>

	<div>
		<p>version: <%= @version %></p>
	</div>

	<div>
		<p>last update: <%= @date %> </p>
	</div>