<h1>FinCal</h1>
<h2>Your personal financial planner and manager</h2>
	<div>
		<%= link_to("Accounts", users_accounts_path) %>
	</div>

	<div>
		<strong>The time is: <%= @time %> 
		</strong>
	</div>
	
	<div>
		<p>Caffeinated development by <%= @dev %></p>
		<p>Special thanks to <a href="https://www.linkedin.com/in/gurjantsadhra/">Gurjant Singh Sadhra</a> without your guidance this project would not be possible</p>
	</div>

	<div>
		<p>version: <%= @version %></p>
	</div>

	<div>
		<p>last update: <%= @date %> </p>
	</div>