<h2>Create New Account</h2>


<!-- Display Error Message if User didn't saved -->

  <% if @user.errors.any? %>
    <div class="errors">
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>



<% if flash[:warning] %>
  <% flash[:warning].each do |error| %>
    <%= error %> 
  <% end %> 
<% end %>
<!-- End Error Message -->

<div class="newaccountform">
  <%= form_for @user do |f| %>
    <%= f.label :first_name, class: 'formfield' %>: 
    <%= f.text_field :first_name, placeholder: "letters only", class: 'formfield' %><br />

    <%= f.label :last_name, class: 'formfield' %>:
    <%= f.text_field :last_name, placeholder: "letters only", class: 'formfield' %><br />

    <%= f.label :username, class: 'formfield' %>:
    <%= f.text_field :username, class: 'formfield' %><br />

    <%= f.label :email, class: 'formfield' %>:
    <%= f.text_field :email, class: 'formfield' %><br />
      
      <div class="passconditions">
        <strong>password conditions</strong>
        <ul>
          <li>must contain 6 or more characters</li>
          <li>must contain a digit</li>
          <li>must contain a lower case character</li>
          <li>must contain an uppercase character</li>
          <li>symbols are optional, for your mental sanity</li>
        </ul>
      </div>

    <%= f.label :password, class: 'formfield' %>:
    <%= f.password_field :password, class: 'formfield' %><br />

    <%= f.label :password_confirmation, class: 'formfield' %>:
    <%= f.password_field :password_confirmation, class: 'formfield' %><br />


    <%= f.submit %>
  </div>
  <% end %>