<h1>FinCal</h1>
<h2>Your personal financial planner, database and manager</h2>
	<div>
		<%= link_to("Accounts", users_accounts_path) %>
	</div>

	<div>
		<strong>
			date: <%= @date %> 
		</strong>
	</div>
	
	<div>
		<p>Caffeinated development by <%= @dev %></p>
		<p>Special thanks to <a href="https://www.linkedin.com/in/gurjantsadhra/">Gurjant Singh Sadhra</a> for his guidance</p>
	</div>

	<div>
		<p>version: <%= @version %></p>
	</div>

	<div>
		<p>last update: <%= @update_date %> </p>
	</div>