<h1>FinCal</h1>
<h2>Your personal financial planner, database and manager</h2>
	<div class="accountslink">
		<%= link_to("Accounts", users_accounts_path) %>
	</div>

	<div class="date">
		<strong>
			date: <%= @date %> 
		</strong>
	</div>
	
	<div class="welcomeparagraph">
		<p>Caffeinated development by <%= @dev %></p>
		<p>Special thanks to <a href="https://www.linkedin.com/in/gurjantsadhra/">Gurjant Singh Sadhra</a> for his guidance</p>
	</div>

	<% if current_user %>
		<div class="quotebox">
			<p class="quote"><%= @quote %></p>
		</div>
	<% else %> 
		<div class="quotebox">
			<p class="quote"><%= @welcome_quote %></p>
		</div>
	<% end %>

	<div versionupdate>
		<p>version: <%= @version %></p>
		<p>last update: <%= @update_date %></p>
	</div>
	