
<h2>Your personal financial planner, database and manager</h2>


	<div class="welcomeinformation">
    <p>
      In a device-driven world where conveneince, spontaneity and speed are always on our minds, lets take a moment to pull back from swiping and 'Tap to Pay' to consider and plan our finances.
    </p>
    <br>
    <p>
      Ever wondered how much interest you would owe at the end of a financing term? Or how much you would need to put away monthly to retire comfortably in 20 or so years? you can use Fincal to figure out the answers to these questions.
    </p>
    <br>
    <p>
      To make calculations and accumulate/discount interest rates/values please sign up. Documentation is provided on the add account page, and Time Value Of Money page on how to use the app.
    </p>
	</div>

	<div class="welcomeabout">
		<p>Caffeinated development by <a href="https://www.linkedin.com/in/shashike-jayatunge">Shashike J</a></p>
		<p>Special thanks to <a href="https://www.linkedin.com/in/gurjantsadhra/">Gurjant Singh Sadhra</a> for his guidance</p>
	</div>

	<div class="welcomeabout">
		<ul>
			<% @coins.each do |coin| %>
				<li>
					<p>
						name: <%= coin['name'] %>
						price: <%= coin['price'] %>
						% change in 24h<%= coin['percent_change_24h'] %>
						% change in 7 days<%= coin['percent_change_7_days'] %>
					</p>
				</li>
			<% end %>
		</ul>
	</div>

	<div class="quotebox">
		<p class="quote"><%= @welcome_quote %></p>
	</div>

	<div versionupdate>
		<p>version: <%= @version %></p>
		<p>last update: <%= @update_date %></p>
	</div>
